@model CreateRealEstateDto

@{
    ViewData["Title"] = "اضافة عقار جديد";
    Layout = null;
}

<form asp-action="Create" class="ajaxForm" tname="#kt_datatable" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Attachments" class="control-label"></label>
                <input asp-for="Attachments" class="form-control" />
                <span asp-validation-for="Attachments" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.category"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="@ViewBag.location"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="RealEstateType" class="control-label"></label>
                    <select asp-for="RealEstateType" class="form-control">
                        <option value="@RealEstateType.Comapny">شركة</option>
                        <option value="@RealEstateType.department"> شقة</option>
                        <option value="@RealEstateType.ground">أرض</option>
                        <option value="@RealEstateType.house"> بيت </option>
                        <option value="@RealEstateType.Villa"> فيلا </option>

                    </select>
                    <span asp-validation-for="RealEstateType" class="text-danger"></span>
                </div>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="اضافة" class="btn btn-primary" />
        <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
    </div>
</form>


<script>
    PageLoadActions();
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>